!!! 5
html
  head
    title ffframe
    block head
  body
    - if (typeof(errors) != "undefined")
      div(style="background: rgb(255, 205, 205); padding: 5px;")
        h2 Error Submitting
        pre.errors= JSON.stringify(errors, null, 4)
    a(href="/") ffframe
    block body
    - if (production)
      include ../_ga.html
